/* CSS Global */
:root {
    --font-primary: 'BeVietnam';
    --font-secondary: 'PlayfairDisplay';

    --color-chocolate: #574E49;
    --color-beige-medio: #D8D5CF;
    --color-beige-claro: #E9E5DF;
    --color-blanco: #ffffff;
    --color-negro: #000000;
}
.bg-white{ background-color: white; }
.color-white{ color: white; }
.bg-claro{ background-color: var(--color-beige-claro); }
.color-claro{ color: var(--color-beige-claro); }
.bg-medio{ background-color: var(--color-beige-medio); }
.color-medio{ color: var(--color-beige-medio); }
.bg-choco{ background-color: var(--color-chocolate); }
.color-choco{ color: var(--color-chocolate); }
.bg-negro{ background-color: black; }
.color-negro{ color: black; }


body {
    font-family: var(--font-primary);
    font-weight: 400;
    color: var(--color-chocolate);
}
h1, h2, h3 {
    font-family: var(--font-secondary);
    font-weight: 400;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 2rem;

    font-family: var(--font-primary);
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 8;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;

    cursor: pointer;
    border: none;
    border-radius: none;
    transition: all 0.2s ease-in-out;
}