/* CSS Global */
:root {
    --font-primary: 'BeVietnam';
    --font-secondary: 'PlayfairDisplay';

    --color-chocolate: #574E49;
    --color-beige-medio: #D8D5CF;
    --color-beige-claro: #E9E5DF;
    --color-blanco: #ffffff;
    --color-negro: #000000;

    --nav-height: 90px;
}
.bg-white{ background-color: white; }
.color-white{ color: white; }
.bg-claro{ background-color: var(--color-beige-claro) !important; }
.color-claro{ color: var(--color-beige-claro); }
.bg-medio{ background-color: var(--color-beige-medio); }
.color-medio{ color: var(--color-beige-medio); }
.bg-choco{ background-color: var(--color-chocolate); }
.color-choco{ color: var(--color-chocolate); }
.bg-negro{ background-color: black; }
.color-negro{ color: black; }

.detalles{
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 12px !important;
}

*{
    border-radius: 0 !important;
}

.border-eventea{
    border: 1px solid var(--color-chocolate);
}

.normal-body{
    display: flex;
    flex-direction: column;
    height: fit-content;
    justify-content: space-between;
}

.section-1{
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - var(--nav-height));
}

.normal-header{
    width: 100%;
    min-height: fit-content;
    padding: 1.5rem 5vw 1.5rem 5vw;
    background-color: var(--color-beige-medio);
}

.table-choco thead th {
    background-color: var(--color-chocolate) !important;
    color: white !important;
}
.table-choco thead th {
    border: 1px solid white !important;
}
.table-choco tbody td {
    border: 1px solid var(--color-chocolate) !important;
}

* {
    font-family: var(--font-primary);
    font-weight: 400;
    color: var(--color-chocolate);
}
p{
    font-size: 0.9rem;
    margin-bottom: 0 !important;
}

h1, h2{
    font-family: var(--font-secondary);
    font-weight: 500;
    font-size: 3rem !important;
    color: var(--color-chocolate);
    font-style: italic;
}
h3{
    font-family: var(--font-primary) !important;
    font-weight: 400 !important;
    font-size: 20px !important;
    color: var(--color-chocolate);
}
h4{
    font-family: var(--font-secondary);
    font-weight: 400;
    font-size: 40px !important;
    color: var(--color-chocolate);
}
h5{
    font-family: var(--font-primary);
    font-weight: 600;
    font-size: 18px;
    color: var(--color-chocolate);
    text-transform: uppercase;
    letter-spacing: 6%;
}
h6{
    font-family: var(--font-secondary);
    font-weight: 500;
    font-size: 20px;
    color: var(--color-chocolate);
}

a, .button-a{
    color: var(--color-chocolate) !important;
    text-decoration: none !important;
    background-color: transparent;
    border: none;
    transition: all 0.2s ease-out !important;
}
a:hover, .button-a:hover{
    opacity: 0.6;
}

.a-white{
    color: white !important;
    text-decoration: none !important;
    transition: all 0.2s ease-out !important;
}
.a-white:hover{
    opacity: 0.8;
}

.px-normal{
    padding: 0 4rem 0 4rem;
}

button{
    border-radius: 0 !important;
}

.btn-eventea {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    max-width: max-content;
    padding: 0.7rem 1.5rem;

    border: solid var(--color-chocolate) 1px;
    border-radius: 0%;
    background-color: var(--color-chocolate);
    color: white !important;
    opacity: 1 !important;

    font-family: var(--font-primary);
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;

    cursor: pointer;
    transition: all 0.3s ease-out;
}
.btn-eventea:hover{
    background-color: transparent;
    border: solid var(--color-chocolate) 1px;
    /*background-color: var(--color-beige-medio);*/
    color: var(--color-chocolate) !important;
}


.btn-claro {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    max-width: max-content;
    padding: 0.7rem 1.5rem;

    border: solid #574e491d 1px !important;
    border-radius: 0%;
    background-color: #574e4953 !important;
    color: white !important;
    opacity: 1 !important;

    font-family: var(--font-primary);
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;

    cursor: pointer;
    transition: all 0.3s ease-out;
}
.btn-claro:hover{
    border: solid var(--color-chocolate) 1px !important;
    /*background-color: #574e4975;*/
    background-color: transparent !important;
    color: var(--color-chocolate) !important;
}

.btn-small{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    max-width: max-content;
    padding: 0.3rem 0.6rem;

    border-radius: 0%;
    background-color: var(--color-chocolate) !important;
    color: white !important;
    opacity: 0.7 !important;

    border: none;
    font-family: var(--font-primary);
    font-size: 0.8rem;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;

    cursor: pointer;
    transition: all 0.3s ease-out;
}
.btn-small:hover{
    opacity: 1 !important;
}

.btn-eventea i,
.btn-eventea .bi,
.btn-claro .bi,
.btn-claro i,
.btn-small .bi,
.btn-small i {
    color: inherit;
    transition: inherit;
}
.btn-eventea:hover i,
.btn-eventea:hover .bi,
.btn-claro:hover .bi,
.btn-claro:hover i,
.btn-claro:hover .bi,
.btn-claro:hover i{
    color: inherit;
}

.alert{
    border-radius: 0% !important;
}


input:focus, 
input:-webkit-autofill:focus,
input:-webkit-autofill:hover {
    outline: solid 3px var(--color-beige-medio) !important;
    outline-offset: -3px;
    box-shadow: 0 0 0px 1000px white inset !important;
    border: none !important;
}
input:focus-visible {
    outline: solid 4px var(--color-beige-medio) !important;
}

input{
    background-color: white !important;
    box-shadow: none;
    border-radius: none;
    font-family: 'BeVietnam' !important;
    transition: all 0.3s ease-out !important;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  font-family: 'BeVietnam' !important;
}
input::placeholder{
    opacity: 0.6 !important;
}